﻿@model IEnumerable<WCFBillClient.Models.BillInformationModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var currentpage = Convert.ToInt32(ViewBag.currentpage);
}

<h2>Listar Facturas</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerName)
            </td>
            <td>

                @Html.ActionLink("Detalle", "Details", new {id = item.Id})

            </td>
        </tr>
    }

</table>

@Html.ActionLink("Siguiente", "Index", new { page = currentpage+1 })
@Html.ActionLink("Anterior", "Index", new { page = currentpage-1 })
